<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Ozone" value="https://repo-nuget.oceantim.com/repository/nuget-ozone/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.voids.site" value="true" />
  </disabledPackageSources>
	<packageSourceCredentials>
		<Ozone>
			<add key="Username" value="h.shoaeybi" />
			<add key="ClearTextPassword" value="SERkP6BPabKbRDQ" />
		</Ozone>
	</packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>